.wrap {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 50px;
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 10px;
  color: #f5f5f5;
  backdrop-filter: blur(10px);
  border: 1px rgba(0, 0, 0, 0.1) solid;
  background-color: rgba(100, 100, 100, 0.8);
  text-align: center;
  overflow: scroll;
  font-size: 13px;
}
.wrap::-webkit-scrollbar {
  display: none;
}
/* .wrap::-webkit-scrollbar-thumb {
  background: #666;
  background-clip: padding-box;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
} */

.wrap h2{
  font-size: 51px;
  font-weight: bold;
  border-bottom: 3px solid #f5f5f5;
  display: inline-block;
}

.wrap .personal {
  width: 400px;
  margin: 40px auto;
}
.wrap .personal .face {
  background-image: url(../image/face.jpg);
  width: 130px;
  height: 170px;
  background-size: 120%;
  background-position: 50% 0;
  float: left;
}
.wrap .personal > p{
  padding-top: 15px;
  line-height: 28px;
}
.wrap .personal .icons {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.wrap .personal .icons .icon {
  display: block;
  margin: 0 auto;
  font-size: 34px;
}
.wrap .personal .icons .icon > a > span {
  font-size: 15px;
  display: block;
  line-height: 10px;
}
.wrap .personal .introduce > h3{
  font-size: 38px;
  border-bottom: 1px solid #f5f5f5;
  margin-top: 50px;
  display: inline-block;
  width: 100px;
  font-weight: bold;
}
.wrap .personal .introduce > p {
  margin-top: 40px;
  font-size: 15px;
  line-height: 24px;
}
.wrap .personal .youtube > h3{
  font-size: 38px;
  border-bottom: 1px solid #f5f5f5;
  margin-top: 100px;
  display: inline-block;
  width: 180px;
  font-weight: bold;
  margin-bottom: 40px;
}
.wrap .personal .youtube .video {
  width: 100%;
}
.wrap .personal .youtube .video > iframe {
  width: 100%;
  height: 225px;
}
.wrap .personal .design > h3{
  font-size: 38px;
  border-bottom: 1px solid #f5f5f5;
  margin-top: 100px;
  display: inline-block;
  width: 150px;
  font-weight: bold;
  margin-bottom: 40px;
}
.wrap .personal .design .logo{
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  justify-content: space-evenly;
  row-gap: 30px;
}
.wrap .personal .design .logo > div {
  width: 100%;
  height: 100%;
}
.wrap .personal .design .logo > div > div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transition: transform .5s;
}
.wrap .personal .design .logo > div:hover > div{
  transform: scale(2.5);
}
.wrap .personal .design .logo > div .logo1 {
  background-image: url(../image/bndf.png);
  background-size: 80%;
  background-position: 50% 50%;
}
.wrap .personal .design .logo > div .logo2 {
  background-image: url(../image/lindberg-office.png);
  background-size: contain;
  background-position: 50% 75%;
}
.wrap .personal .design .logo > div .logo3 {
  background-image: url(../image/bnc.png);
  background-size: contain;
  background-position: 50% 50%;
}
.wrap .personal .design .logo > div .logo4 {
  background-image: url(../image/리을.jpg);
  background-size: 90%;
  background-position: 50% 50%;
  border-radius: 50%;
}
.wrap .personal .contact > h3{
  font-size: 38px;
  border-bottom: 1px solid #f5f5f5;
  margin-top: 100px;
  display: inline-block;
  width: 150px;
  font-weight: bold;
  margin-bottom: 40px;
}
.wrap .personal .contact > p{
  font-size: 18px;
  margin-bottom: 100px;
}
.wrap footer {
  font-size: 11px;
}
.wrap footer > span {
  display: block;
}
.wrap footer > a {
  display: block;
  text-decoration: underline;
}