.wrap {
  width: 100%;
  height: 100%;
  /* background-color: #616161; */
  z-index: 100;
  border-radius: 5px;
  background-image: url(../../image/webstandard1.png);
  background-size: cover;
  overflow: scroll;
}
.wrap::-webkit-scrollbar{
  display: none;
}
.container {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
}
.wrap2 {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 5px;
  color:#263238;
}

.wrap2 > h3 {
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.wrap2 > p{
  font-size: 13px;
  line-height: 20px;
  word-spacing: 4px;
  text-indent: 5px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
.wrap2 > p > strong {
  font-size: 15px;
}
.wrap2 > span {
  display: block;
  text-align: center;
  font-size: 31px;
  margin-bottom: 7px;
}
.wrap2 > span > a {
  display: inline-block;
  transition: transform 0.2s;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.wrap2 > span > a:hover{
  transform: scale(1.2);
}
